<nav class="navbar" style="background-color: #2d2d2d;">
  <div class="nav">
    <div class="nav-content">
      <a href="/" style="font-size: 60px; color: white;">SmallUrl</a>
      <a href="https://github.com/Leeon0">
        <button class="button" style="background-color: rgb(38, 143, 3);">
          Github
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="ml-2"
          >
            <path d="M7 7h10v10"></path>
            <path d="M7 17 17 7"></path>
          </svg>
        </button>
      </a>
    </div>
  </div>
</nav>
