html, body {
    background:#222;
    margin:0;
}
#canvas {
    position:fixed;
	opacity: 0.2;
	background-color: fff;
	z-index: 20;
}

.label {
	letter-spacing: -3px;
	z-index: 10;
	font-size: 120px;
	position: absolute;
	display:inline-block;
	transform: translate(-50%, -50%) scale(2);
	top: 50%;
	left: 50%;
	color: #fff;
}